  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="https://fonts.googleapis.com/css?family=Raleway|Teko&display=swap" rel="stylesheet">

<style>
body, p, div {
font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6, .card-title, .btn, .btn-large, label {
font-family: 'Teko', sans-serif;
font-weight: 800;
}
.input-field label {
	font-size: 23px;
}
.red {
background-color: #e20606;
}
.btn-large {
	font-size: 25px;
}
.card .card-title {
    font-size: 46px;
    font-weight: 800;
}
      img.emoji, .marked-emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}
</style>


<meta charset="utf-8">

      {% block extra_head %}

      {% endblock %}
      <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?12.0.4" crossorigin="anonymous"></script>


    </head>

    <body>
	    <div class="container">
		    {% block content %}

		    {% endblock %}
	    </div>
      <!--JavaScript at end of body for optimized loading-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
  </html>
 
