{% extends 'petition/base.html' %}
{% load thumbnail i18n %}

{% block content %}
<h1>Laufende Petitionen</h1>
<div class="row">
  {% for petition in petition_list %}
  <div class="col s12 l6">
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-image">
        {% thumbnail petition.header_img "1048x612" crop="center" as im %}
        <a href="{% url 'petition-detail' petition.slug %}"><img src="{{ im.url }}"></a>
        {% endthumbnail %}
      </div>

      <div class="card-content white-text red">
        <span class="card-title">{{petition.title}}</span>
        <p class="flow-text">{{petition.lead}}</p>
      </div>
      <div class="card-action red">
        <a href="{% url 'petition-detail' petition.slug %}" class="btn-large black">{% trans "Jetzt unterzeichnen" %}</a> 
        <a class="right-align white-text right">Noch {{petition.missing}} Unterschriften!</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
