{% extends 'petition/base.html' %}
{% load thumbnail i18n martortags %}

{% block extra_head %}
<style>
h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.z-depth-2 {
	margin-bottom: 3em;
	padding-bottom: 1em;
}
.sign {
	width: calc(100% - 12px);
	height: auto;
	padding: 12px;
	font-size: 22px;
	margin: 0 6px;
}
body {
	background-color: #e20606;
}
.container {
	max-width: 500px;
	background-color: white;
}
.text {
	padding: 0px 15px;
}
.share-button {
	width: 228px;
	height: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 24px;
	margin: 10px 5px;
}
.whatsapp {
	background-color: #25D366;
}
.facebook {
	background-color: #3b5998;
}
.donation {
	padding: 10px;
}
.donation .btn-large {
	margin: 3px;
	min-width: 100px;
	padding: 0 20px;
}

</style>
<title>{{petition.title}} - {% trans "Jetzt unterzeichnen!" %}</title>

<!-- For Google -->
<meta name="description" content="{{petition.lead}}" />

<!-- For Facebook -->
<meta property="og:title" content="{{petition.title}}" />
<meta property="og:type" content="article" />
{% thumbnail petition.facebook_img "1200x630" crop="center" as im %}
<meta property="og:image" content="{{im.url}}" />
{% endthumbnail %}
<meta property="og:url" content="{{request.build_absolute_uri}}" />
<meta property="og:description" content="{{petition.lead}}" />

<!-- For Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{petition.title}}" />
<meta name="twitter:description" content="{{petition.lead}}" />
{% thumbnail petition.facebook_img "1200x600" crop="center" as im %}
<meta name="twitter:image" content="{{im.url}}" />
{% endthumbnail %}
{% endblock %}

{% block content %}
{% if petition.facebook_site %}
<div class="z-depth-2">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v3.3&appId=1973597796028039&autoLogAppEvents=1"></script>
<div class="fb-page" data-href="{{petition.facebook_site}}" data-tabs="" data-width="650" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{petition.facebook_site}}" class="fb-xfbml-parse-ignore"><a href="{{petition.facebook_site}}"></a></blockquote></div>

{% endif %}
<h1 class="center-align text">{{petition.title}}</h1>
{% if has_signed  %}
<p class="center-align">{% blocktrans with petition.count as count %}
Schon {{count}} Unterschfiten,{% endblocktrans %}
{% blocktrans with petition.missing as missing %}noch {{missing}} bis
{% endblocktrans %}{{petition.goal}}
</p><div class="progress">
	<div class="determinate" style="width: {{petition.achieved_percent|floatformat}}%"></div>
</div>
<p class="flow-text center-align text">{{petition.thankyou_text}}</p>
<div class="center-align">
	<a href="{{petition.whatsapp_link}}" target="_blank" class="btn whatsapp share-button">
		{% trans 'Auf Whatsapp teilen' %}</a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" class="btn facebook share-button">
	{% trans 'Auf Facebook teilen' %}</a>
</div>
{% if petition.group.subscription.stripe_private_key %}
<div class="donation">
	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

	<h4 class="center-align">{% trans "Unterstütze uns mit einer Spende" %}</h4>
	<div class="btn-area center-align">
		{% for donation_amount in petition.donation_amount_list %}
		<button class="btn-large blue" id="donate-{{donation_amount}}">{{donation_amount}} CHF</button>
		{% endfor %}
	</div>

	<script>
		var amount = 0;
		var handler = StripeCheckout.configure({
			key: '{{petition.group.subscription.stripe_public_key}}',
			image: '{{petition.stripe_icon_url}}',
			locale: 'auto',
			currency: 'chf',
			token: function(token) {
				// You can access the token ID with `token.id`.
				// Get the token ID to your server-side code for use.
				var data = {
					amount: amount,
					stripeToken: token.id,
				        stripeEmail: token.email,
					csrfmiddlewaretoken: '{{ csrf_token }}'

				}
				jQuery.ajax({
					type: "POST",
					url: "{% url 'petition-charge' petition.slug %}",
					data: data,
					success: function(){
					}
				});

			}
		});
{% for donation_amount in petition.donation_amount_list %}
document.getElementById('donate-{{donation_amount}}').addEventListener('click', function(e) {
	// Open Checkout with further options:
	amount = {{donation_amount}}*100;
	handler.open({
		name: '{{petition.title}}',
		description: '{% blocktrans%}Spende: {{donation_amount}} CHF{% endblocktrans %}',
		zipCode: true,
		amount: amount
	});
	e.preventDefault();
});
{% endfor %}

// Close Checkout on page navigation:
window.addEventListener('popstate', function() {
	handler.close();
});
	</script>
</div>

{% endif %}

{% else %}

<p class="flow-text center-align text">{{petition.lead}}</p>
<div class="row">
<form action="" method="POST">
	{% csrf_token %}
      <div class="row">
        <div class="input-field col m6 s12">
		{{form.first_name}}
	  <label for="first_name">{% trans "Vorname" %}</label>
        </div>
        <div class="input-field col m6 s12">
		{{form.last_name}}
	  <label for="last_name">{% trans "Nachname" %}</label>
        </div>
        <div class="input-field col m6 s12">
		{{form.email}}
	  <label for="email">{% trans "E-Mail" %}</label>
        </div>
        <div class="input-field col m6 s12">
		{{form.mobile}}
	  <label for="mobile">{% trans "Handy" %}</label>
        </div>
      </div>
      <button type="submit" class="btn sign blue">{{petition.sign_now_text}}</button>
    </form>
  </div>



</form>
<p class="text"><small >{{petition.privacy_notice}} <a href="{% url 'petition-privacy' petition.slug %}">
		{% trans 'Datenschutz' %}
	</a></small></p>

{% endif %}

{% thumbnail petition.header_img "1048x612" crop="center" as im %}
<img src="{{ im.url }}" class="responsive-img">
{% endthumbnail %}
<div class="flow-text text">
	{{petition.text|safe_markdown}}
</div>
<hr/>
<div class="privacy-notice text center-align">
	<a href="{% url 'petition-detail' petition.slug_de %}">Deutsch</a> |
	<a href="{% url 'petition-detail' petition.slug_fr %}">Français</a> |
	<a href="{% url 'petition-detail' petition.slug_it %}">Italiano</a> |
	<a href="{% url 'petition-privacy' petition.slug %}">{% trans "Datenschutz" %}</a>
</div>
</div>
	<script>
		$('h1').html(twemoji.parse('{{petition.title}}'));
	</script>
{% endblock %}
