{% extends 'petition/base.html' %}
{% load i18n martortags %}
{% block extra_head %}
<title>{{petition.title}} - {% trans "Datenschutz" %}</title>
{% endblock %}
{% block content %}
<h1>{% trans "Datenschutz" %}</h1>
<a href="{% url 'petition-detail' petition.slug %}">{% trans "Zurück zur Petition" %}</a>
<div class="flow-text">
{{petition.privacy_text|safe_markdown}}
</div>
{% endblock %}
